#music{




	/*border: 1px solid red;*/
	width: 100%;
	min-height: 100vh;

	background:  url(m83.gif) no-repeat center center fixed;
  	background-size: cover;

}

#music audio {
	width: 100%;
	/*height: 222px;*/
	position: absolute;
	bottom: 15px;
	opacity: .5;
}
