#music{




	/*border: 1px solid red;*/
	width: 100%;
	min-height: 100vh;



  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;

}

#music audio {
	width: 100%;
	/*height: 222px;*/
	position: absolute;
	bottom: 15px;
	opacity: .5;
}
