
@media screen and (min-width: 800px) {
    body {
        /*background-color: teal;*/
    }

	#dummy-font {
	  font-size: 58px;
	}

	#dummy-font-landing {
		font-size: 32px;
	}

	.landing-content section {
		padding-top: 80px;
	}

	#cta {
		margin-top: 50px;
	}
}
